<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  	$(document).ready(function(){
  		setTimeout(function(){
  			$('.alert').slideUp(500);
  		}, 2500);
  	})
  </script>
</head>
<body>
	<%= render 'layouts/navigation' %>
	<div class='container'>
		<%= flash_messages %>
		<%= yield %>
	</div>
</body>
</html>
